fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
loguru
openpyxl
python-dotenv
greenlet
exceptiongroup
anyio
starlette
typing-extensions
typing-inspection
annotated-types
annotated-doc
ecdsa
rsa
pyasn1
et-xmlfile
h11
